<div class="contenedor">
<div class="producto-container" *ngFor="let producto of productos | paginate: { itemsPerPage: 4, currentPage: currentPage, totalItems: totalItems }">
    <img src="{{producto.imagen}}" class="imagen" alt="producto">
    <div class="detalles">
        <p class="nombre">Nombre: {{producto.nombre}}</p>
        <p class="descripcion">Descripción: {{producto.descripcion}}</p>
        <p class="precio">Precio: {{producto.precio}}€</p>
    </div>
    <div #dialog class="dialog">
      <div class="dialog-header">
        <span class="close-icon" (click)="closeDialog()">&times;</span>
      </div>
      <textarea #commentInput id="commentInput" rows="4" cols="50" placeholder="Ingrese su comentario"></textarea>
      <button id="submitBtn" (click)="onCommentAdded(commentInput.value)">Enviar</button>
    </div>
    
    
<button (click)="openDialog(producto.id_producto)" class="botonComentario">Agregar Comentario</button>
    <div >
        <button class="boton-carrito" (click)="agregarAlCarrito(producto)">Añadir al carrito</button>
      </div>
  </div>
  <h2 *ngIf="carrito.length > 0">Carrito de compras</h2>
  <div class="carrito" *ngIf="carrito.length > 0">
    
    <div class="producto-car" *ngFor="let producto of carrito">
      <p>{{producto.nombre}} - Cantidad: {{producto.cantidad}}  <i class="fa-solid fa-xmark fa-lg" style="color: #000000;" (click)="eliminarProducto(producto)"></i></p>
      <img src="{{producto.imagen}}" class="imagen" alt="producto">
    </div>
    <div class="compraContainer">
      <p  class="precioTotal">Precio total: {{ precioTotal }}€</p>
      <button class="boton-comprar" data-bs-toggle="modal" data-bs-target="#confirmDialog">Comprar</button>
    </div>
    
  </div>
  
  <pagination-controls class="pagination-controls" (pageChange)="currentPage = $event"></pagination-controls>
</div>
<div class="modal" id="confirmDialog" tabindex="-1" aria-labelledby="confirmDialogLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDialogLabel">Confirmar Compra</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de que deseas realizar la compra?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="hacerSolicitudes()">Comprar</button>
      </div>
    </div>
  </div>
</div>
