/* tienda.component.css */

/* Estilos para los contenedores de productos */
div.producto-container {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    display: flex;
  align-items: center;
  }
  
  /* Estilos para los nombres de productos */
  .detalles {
    flex: 1;
    border: 1px solid #0056b3;
    border-radius: 10px;
    padding: 5px;
    background-color: #94bfed;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-right: 180px;
  }
  
  .detalles .nombre {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 5px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .detalles .descripcion {
    font-size: 14px;
    margin-bottom: 5px;
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .detalles .precio {
    font-size: 16px;
    margin-bottom: 5px;
    color: #007bff;
    font-weight: bold;
    margin-right: 20px;
    text-align: right;
  }
  /* Estilos para la paginación */
  .pagination-controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
  }

  .imagen {
    margin-right: 10px;
    width: 150px;
  }
  .boton-carrito {
    margin-top:180px;
    margin-right: 10px;
    padding: 17px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  .boton-carrito button:hover {
    background-color: #0056b3;
  }
  
  .boton-carrito button:focus {
    outline: none;
  }
  .carrito {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 60px;
    margin-top: 100px;
  }
  h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    align-items: center;
    color: #0056b3;
  }

  .producto-car{
    margin: 20px;
  }
  
  .producto-car p{
    font-size: 16px;
  font-weight: bold;
  color: #007bff;
  }
  .producto-car i{
    cursor: pointer;
  }
  .boton-comprar {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }

  .precioTotal{
    font-size: 20px;
    color: #007bff;
    position: absolute;
    bottom: -10px;
    right: 120px;
    padding: 10px 20px;
    font-weight: bolder;
    
  }

  .botonComentario{
    position: relative;
    right: 20px;
    top: 90px;
    padding: 17px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }

  .botonVerComentario{
    position: relative;
    right: 10px;
    top: 90px;
    padding: 17px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  .dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 40%;
    width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
  }
  
  .dialog textarea {
    width: 100%;
    height: 80%;
    resize: none;
    margin-bottom: 10px;
  }
  
  .dialog button {
    position: relative;
    left:35%;
    width: 30%;
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .dialog button:hover {
    background-color: #45a049;
  }
  .dialog-header{
    position: relative;
    height: 20px;
    background-color: gray;
  }
  .close-icon {
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: red;
  }

  .contenedor{
    padding: 40px;
    margin: 80px;
    background-color: #c5e1ff;
    border: solid #2874A6 5px;
  }

  .comentario{
    border: 2px #0056b3 solid;
    border-radius: 10px;
    padding: 5px;
    background-color: #94bfed;
  }

  .producto-agotado {
    opacity: 0.5; /* Opacidad reducida para indicar que está fuera de stock */
    pointer-events: none; /* Deshabilita los eventos de clic en el producto */
  }

  .modal-content{
    background-color: #c5e1ff;
  }

  .modal-title{
    color: #174697;
    text-align: center;
    position: relative;
    left: 120px;
  }
  .btn-close{
    background-color: gray;
  }

  .productoCarrito{
    border: 2px #0056b3 solid;
    border-radius: 10px;
    padding: 5px;
    background-color: #94bfed;
  }
  .sumar{
    padding: 10px;
  }