/* Estilos generales */

body {
	background-color: #f0f8ff; /* Azul claro */
	
	margin: 0;
	padding: 0;
}

header {
	color: #fff;
	padding: 20px;
	padding-top: 50px;
	text-align: center;
	text-decoration: blink;
	
  }
  .resaltar{
	background-color: #174697;
	padding-top: 1px;
	padding-left: 50px;
	padding-right: 50px;
  }
  p .resaltar{
	padding-left: 83px;
	padding-right: 83px;
	padding-bottom: 20px;
  }
  header h1, header p {
	margin: 0;
  }
  
  main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px;
  }
  
  .section-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 20px;
	margin-bottom: 60px;
  }
  
  .section {
	width: 300px;
	height: 330px;
	background-color: #3498db;
	color: #fff;
	text-align: center;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-right: 40px;
	padding-top: 10px;
  }
  .section:hover{
	transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .section.precios {
	margin-top: 140px;
	margin-left: 40px;
  }
  
  section h2 {
	margin-top: 10px;
  }
  
  ul {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  
  ul li {
	margin-bottom: 10px;
  }
  

