<!DOCTYPE html>
<html>
<head>

	<title>Gym Athos</title>
</head>
<body>
	<header>
		<h1>Gym Athos</h1>
		<p>NO PAIN NO GAIN</p>
	  </header>
	  
	  <main>
		<div class="section-container">
		  <section class="section">
			<i class="fa-solid fa-calendar-days fa-xl" style="color: #174697;"></i>
			<h2>Horarios</h2>
			<ul>
			  <li>Lunes: 9:00 - 23:00</li>
			  <li>Martes: 9:00 - 23:00</li>
			  <li>Miércoles: 9:00 - 23:00</li>
			  <li>Jueves: 9:00 - 23:00</li>
			  <li>Viernes: 9:00 - 23:00</li>
			  <li>Sábado: 10:00 - 14:00</li>
			  <li>Domingo: Cerrado</li>
			</ul>
		  </section>
	  
		  <section class="section precios">
			<i class="fa-solid fa-money-bill fa-xl" style="color: #174697;"></i>
			<h2>Precios</h2>
			<ul>
			  <li>Membresía mensual: 25€</li>
			  <li>Membresía trimestral: 70€</li>
			  <li>Membresía anual: 250€</li>
			</ul>
		  </section>
		</div>
	  </main>

	
	  
</body>
</html>
