<!DOCTYPE html>
<html>
<head>
	<title>Gym Athos</title>
</head>
<body>
	<main>
		<section id="inicio">
			<h2>Bienvenidos a Gym Athos</h2>
			<p>Somos un gimnasio especializado en entrenamientos personalizados y en grupo. ¡Ven y alcanza tus objetivos con nosotros!</p>
		</section>
		<section id="servicios">
			<h2>Nuestros Servicios</h2>
			<ul>
				<li>Entrenamientos personalizados</li>
				<li>Clases en grupo (Yoga, Pilates, Spinning, etc.)</li>
				<li>Zona de musculación</li>
				<li>Zona de cardio</li>
				<li>Servicio de nutrición</li>
			</ul>
		</section>
		<section id="instalaciones">
			<h2>Nuestras Instalaciones</h2>
			<p>Contamos con un amplio espacio equipado con las mejores máquinas y herramientas de entrenamiento. Además, nuestras instalaciones incluyen:</p>
			<ul>
				<li>Vestuarios con duchas</li>
				<li>Área de descanso</li>
				<li>Zona de estiramientos</li>
				<li>Estacionamiento gratuito</li>
			</ul>
		</section>
		<section id="contacto">
			<h2>Contáctanos</h2>
			<form>
				<label for="nombre">Nombre:</label>
				<input type="text" id="nombre" name="nombre">
				<label for="email">Email:</label>
				<input type="email" id="email" name="email">
				<label for="mensaje">Mensaje:</label>
				<textarea id="mensaje" name="mensaje"></textarea>
				<input type="submit" value="Enviar">
			</form>
		</section>
	</main>
	<footer>
		<p>© Gimnasio Azul, 2023. Todos los derechos reservados.</p>
	</footer>
</body>
</html>
