<router-outlet></router-outlet>

  <head>
    <meta charset="UTF-8">
    <title>Inicio de sesión</title>
  </head>
  <div class="container">
    <form class="login-form" id="myForm">
      <h1>Iniciar sesión  <i class="fa-solid fa-user fa-lg" style="color: #000000;"></i></h1>
      <label for="email" >Email de la cuenta:</label>
      <input type="text" id="email" name="email" required >
      <label for="contrasena">Contraseña:</label>
      <input type="password" id="contrasena" name="contrasena" required>
      <p *ngIf="error" class="error">La cuenta introducida no existe,compruebala e intentelo de nuevo</p>
      <button type="submit">Iniciar sesión</button>
      <p class="register-link">¿No tienes cuenta? <a href="http://localhost:4200/registro">Regístrate aquí</a></p>
    </form>
  </div>
