<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Instalaciones del Gym</title>
</head>
  <div class="contenedor">
    <div class="titulo">
      <h1>Instalaciones del Gym</h1>
    </div>
    <div class="instalaciones">
      <div class="instalacion">
        <img src="/assets/fotos/gym1.jpg" alt="Gym 1">
        <h2>Gimnasio  <i class="fa-solid fa-weight-hanging fa-lg" style="color: #000000;"></i></h2>
        <p>Contamos con un amplio gimnasio equipado con máquinas de última generación y pesas para todo tipo de entrenamiento.</p>
      </div>
      <div class="instalacion">
        <img src="/assets/fotos/piscina.jpg" alt="Piscina">
        <h2>Piscina  <i class="fa-solid fa-person-swimming fa-lg" style="color: #000000;"></i></h2>
        <p>Disfruta de nuestra piscina olímpica climatizada durante todo el año para practicar natación o simplemente relajarte.</p>
      </div>
      <div class="instalacion">
        <img src="/assets/fotos/pista.jpg" alt="Pista">
        <h2>Pista deportiva  <i class="fa-solid fa-person-running fa-lg" style="color: #000000;"></i></h2>
        <p>Nuestra pista deportiva está diseñada para practicar una gran variedad de deportes, como baloncesto, voleibol, fútbol, entre otros.</p>
      </div>
      <div class="instalacion">
        <img src="/assets/fotos/aerobic.jpg" alt="Sala de aeróbicos">
        <h2>Sala de aeróbicos  <i class="fa-solid fa-person-running fa-lg" style="color: #000000;"></i></h2>
        <p>En nuestra sala de aeróbicos podrás tomar clases de diferentes disciplinas como zumba, pilates, yoga, entre otros.</p>
      </div>
      <div class="instalacion">
        <img src="/assets/fotos/sauna.jpg" alt="Sauna">
        <h2>Sauna  <i class="fa-solid fa-spa fa-lg" style="color: #000000;"></i></h2>
        <p>Relájate en nuestra sauna después de un duro entrenamiento. Contamos con servicios de masajes y tratamientos de belleza.</p>
      </div>
    </div>
  </div>
</html>
