<header>
    <h1 (click)="Navinicio()">Gym Athos</h1><i class="fa-solid fa-dumbbell fa-bounce fa-2xl" style="color: #202122;"></i>

    <nav>
        <ul>
            <li (click)="Navserv()">Servicios</li>
            <li (click)="Navins()">Instalaciones</li>
            <li *ngIf="online">Bienvenido {{usuario.nombre}}</li>
            <li *ngIf="online" (click)="Navtienda()"><i class="fa-brands fa-shopify fa-lg" title="Tienda" style="color: #ffffff;"></i></li>
            <li *ngIf="online" (click)="desloguear() "><i class="fa-solid fa-power-off fa-lg" title="Desloguear" style="color: #ffffff;"></i>
            </li>
            <li *ngIf="online == false" (click)="Navlog()"><i class="fa-solid fa-right-to-bracket fa-xl" title="Loguear" style="color: #ffffff;"></i>
            </li>
        </ul>
    </nav>
</header>