<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Servicios del Gimnasio</title>
  </head>
  <body>
    <div class="container">
      

      <div class="services">
        <div class="service-card">
            <h1>Servicios del Gimnasio</h1>
            <p>
              A continuación se muestran los servicios que ofrecemos en nuestro
              gimnasio.
            </p>
            <div class="container">
              <h1 class="section-title">Nuestros Servicios</h1>
          
              <div class="services">
                <div class="service">
                  <img src="/assets/fotos/dieta.jpg" alt="Servicio 1">
                  <h2>Plan de dieta</h2>
                  <p>Corrige tu dieta en base a los objetivos que tengas.</p>
                  <a href="#" class="btn btn-primary">Más información  <i class="fa-solid fa-circle-info fa-lg" style="color: #ffffff;"></i></a>
                  
                </div>
                <div class="service">
                  <img src="/assets/fotos/entrenamiento.jpg" alt="Servicio 2">
                  <h2>Plan de entrenamiento</h2>
                  <p>Adapta tus entrenamientos a las necesidades de tu cuerpo.</p>
                  <a href="#" class="btn btn-primary">Más información  <i class="fa-solid fa-circle-info fa-lg" style="color: #ffffff;"></i></a>
                </div>
                <div class="service">
                  <img src="/assets/fotos/grupo.jpg" alt="Servicio 3">
                  <h2>Clases grupales</h2>
                  <p>Acaba con la monotonia de los entrenamientos con divertidas clases grupales.</p>
                  <a href="#" class="btn btn-primary">Más información  <i class="fa-solid fa-circle-info fa-lg" style="color: #ffffff;"></i></a>
                </div>
                <div class="service">
                  <img src="/assets/fotos/fisio.jpg" alt="Servicio 4">
                  <h2>Fisioterapia</h2>
                  <p>Mejora tu postura corporal,evita lesiones y haz mas leve la fatiga muscular.</p>
                  <a href="#" class="btn btn-primary">Más información  <i class="fa-solid fa-circle-info fa-lg" style="color: #ffffff;"></i></a>
                </div>
              </div>
            </div>
          