<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h3>Contacto  <i class="fa-regular fa-building fa-lg" style="color: #ffffff;"></i></h3>
        <p><i class="fa-solid fa-location-dot fa-lg" style="color: #ffffff;"></i>  Dirección: Calle Principal 123, Ciudad</p>
        <p><i class="fa-solid fa-phone fa-lg" style="color: #ffffff;"></i>  Teléfono: 123-456-789</p>
        <p><i class="fa-solid fa-envelope fa-lg" style="color: #ffffff;"></i>  Email: info@gimnasio.com</p>
      </div>
      <div class="footer-section">
        <h3>Enlaces rápidos  <i class="fa-solid fa-link fa-lg" style="color: #ffffff;"></i></h3>
        <ul>
            <li (click)="navMain()">Inicio</li>
            <li (click)="navServicios()">Servicios</li>
          <li (click)="navInstalaciones()">Instalaciones</li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Síguenos en redes sociales</h3>
        <ul class="social-media-links">
            <li><a href="https://www.facebook.com/gimnasioathos"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/gimnasioathos"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.twitter.com/gimnasioathos"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/gimnasioathos"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
    <p class="footer-text"><i class="fa-solid fa-copyright fa-lg" style="color: #ffffff;"></i> 2023 Gimnasio Athos. Todos los derechos reservados.</p>
  </footer>